@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}
body{
    background-color:#7bdaf3;
    font-family: "Poppins", sans-serif;
    margin:0;
    display: flex;

}
.add{
    background-color: rgb(72, 151, 151);
    font-size: 1.2rem;
    color: white;
    margin: 2rem auto;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    position: fixed;
    top:1rem;
    right:1rem;
    outline:none;
    cursor:pointer;
}
.note{
    background-color: #fff;
    margin:20px;
    width:400px;
    height:400px;
}
.note .tools{
    background-color: #9ec862;
    display:flex;
    justify-content: flex-end;
    padding:0.5rem;
}
.note .tools button{
    background-color:transparent;
    font-size: 1rem;
    border:none;
    color:#fff;
    margin-left: 0.5rem;
}
.note .main{
    overflow: hidden;
    background-color: #fff;
    height:100%;
   
    width:100%;
}
.note textarea{
    font-family:inherit;
    font-size: 1.2rem;
    border:none;
    outline:none;
    height:100%;
    width:100%;

}
.note .hidden{
    display:none;
}